/Medi/download/DB00999.xml.gz
/Medi/download/all.sdf
/PARSING/parsed1_N.xml
/Medi/data/mapping.tsv.gz
/PARSING/parsed1_None.xml
/Medi/download/drugbank.xml.gz
/Medi/download/DB00999_half.xml.bak
/drugbank_test/download/full database.gz
/drugbank_test/download/full_database.zip
/Medi/download/DB00999.xml
/PARSING/parsed1.xml
/Medi/download/drugbank.xml
/Medi/full database.xml
